<h1>Paket Wisata</h1>
<p>...</p>
<div class="mt-4">
    <% listpaketwisata.forEach(paket=> { %>
        <li>
            <%= paket.nama %> : Rp <%= paket.harga %>
        </li>
        <% }) %>
</div>