<%- include('master', 
  {
    title: title,
    body: `
    <h1>Selamat Datang di Website Pariwisata Palembang</h1>
    <p>Ini adalah halaman website official Pariwisata Palembang. Anda dapat memesan paket wisata pada Website ini. Selamat menikmati keindahan wisata Palembang.</p>
    `
  })
%>

